[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
pydantic = "*"
sqlalchemy = "*"
yfinance = "*"
pandas = "*"
python-binance = "*"
python-dotenv = "*"
notebook = "*"

[dev-packages]

[requires]
python_version = "3.8"
